/* @font-face {
    font-family: graphik;
    src: url(../assets/fonts/GraphikRegular.otf);
}

body{
    font-family: graphik;
} */

/* body{
    background-color: #3882cde6;
} */

.categoryModal{
    z-index: 30;
    position: fixed;
    top: 4rem;
    left: 1rem;
    right: 0;
    bottom: 0;
    border-top: 1px solid white;
}