/* @font-face {
    font-family: graphik;
    src: url(../assets/fonts/GraphikRegular.otf);
}

body{
    font-family: graphik;
} */

/* body{
    background-color: #3882cde6;
} */

.categoryModal{
    z-index: 30;
    position: fixed;
    top: 4rem;
    left: 0;
    right: 0;
    bottom: 0;
    background: #3882cde6;
    /* background-color: #ffffff26; */
}

.btnclaim{

    border-radius: 59px;
background: linear-gradient(145deg, #1652f0, #cacaca);
box-shadow:  43px 43px 39px #3882cde6,
             -43px -43px 39px #1652f0;

}
 